@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--textc1: #fafaff;
	--textc1-50: #fafaff80;
	--textc1-75: #fafaffbf;
	--textc1-80: #fafaffcc;
	--textc1-85: #fafaffd9;
	--textc1-90: #fafaffe6;
	--textc1-95: #fafafff2;
	--textc1-100: #fafaff;

	--textc2: #ff7f3e;
	--textc3: #6852d6;
	--textc4: #14131d;

	--buttonc1: #6852d6;
	--buttonc1-50: #6852d680;
	--buttonc1-75: #6852d6bf;
	--buttonc1-80: #6852d6cc;
	--buttonc1-85: #6852d6d9;
	--buttonc1-90: #6852d6e6;
	--buttonc1-95: #6852d6f2;
	--buttonc1-100: #6852d6;

	--bgc1: #0a0914;
}
